<div class="featured">
  <div class="section-head text-center">
    <h3><span class="frist"> </span>FEATURED IN<span class="second"> </span></h3>
  </div>
  <script>
    $(document).ready(function() {
      $("#owl-demo2").owlCarousel({
        items : 5,
        lazyLoad : true,
        autoPlay : true,
        pagination : false,
      });
    });
  </script>
  <div id="owl-demo2" class="owl-carousel">
    <div class="item">
      <img src="images/brand-logo1.png" title="the verge" />
    </div>
    <div class="item">
      <img src="images/brand-logo2.png" title="Mashable" />
    </div>
    <div class="item">
      <img src="images/brand-logo3.png" title="TNW" />
    </div>
    <div class="item">
      <img src="images/brand-logo4.png" title="bribble" />
    </div>
    <div class="item">
      <img src="images/brand-logo1.png" title="the verge" />
    </div>
    <div class="item">
      <img src="images/brand-logo1.png" title="the verge" />
    </div>
    <div class="item">
      <img src="images/brand-logo2.png" title="Mashable" />
    </div>
    <div class="item">
      <img src="images/brand-logo3.png" title="TNW" />
    </div>
    <div class="item">
      <img src="images/brand-logo4.png" title="bribble" />
    </div>
    <div class="item">
      <img src="images/brand-logo1.png" title="the verge" />
    </div>
    <div class="item">
      <img src="images/brand-logo1.png" title="the verge" />
    </div>
    <div class="item">
      <img src="images/brand-logo2.png" title="Mashable" />
    </div>
    <div class="item">
      <img src="images/brand-logo3.png" title="TNW" />
    </div>
    <div class="item">
      <img src="images/brand-logo4.png" title="bribble" />
    </div>
    <div class="item">
      <img src="images/brand-logo1.png" title="the verge" />
    </div>
  </div>
</div>
