<div id="contact" class="getintouch">
  <div class="container">
    <div class="section-head text-center">
      <h3><span class="frist"> </span>GET IN TOUCH<span class="second"> </span></h3>

      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
    </div>
    <!---->
    <div class="col-md-9 getintouch-left">
      <div class="contact-form col-md-10">
        <h3>Say hello!</h3>

        <form>
          <input type="text" placeholder="Name" required/>
          <input type="text" placeholder="Email" required/>
          <textarea placeholder="Message" required/> </textarea>
          <input type="submit" value="Send message"/>
        </form>
      </div>
      <ul class="footer-social-icons col-md-2 text-center">
        <li><a class="f-be" href="#"><span> </span></a></li>
        <li><a class="f-tw" href="#"><span> </span></a></li>
        <li><a class="f-db" href="#"><span> </span></a></li>
        <li><a class="f-ti" href="#"><span> </span></a></li>
        <li><a class="f-go" href="#"><span> </span></a></li>
        <div class="clearfix"></div>
      </ul>
    </div>
    <div class="col-md-2 getintouch-left">
      <div class="footer-divice">
        <img src="images/divice-half.png" title="getintouch"/>
      </div>
    </div>
  </div>
</div>
