<div class="show-reel text-center">
  <div class="container">
    <h5>SHOW <a class="popup-with-zoom-anim" href="#small-dialog"><span> </span></a> REEL</h5>

    <div id="small-dialog" class="mfp-hide">
      <iframe src="//player.vimeo.com/video/38584262" width="100%" height="400" frameborder="0" webkitallowfullscreen
              mozallowfullscreen allowfullscreen></iframe>
    </div>
    <script>
      $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',
          fixedContentPos: false,
          fixedBgPos: true,
          overflowY: 'auto',
          closeBtnInside: true,
          preloader: false,
          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });

      });
    </script>
  </div>
</div>
