<script src="js/responsiveslides.min.js"></script>
<script>
  $(function () {
    $("#slider4").responsiveSlides({
      auto: true,
      pager: true,
      nav: true,
      speed: 500,
      namespace: "callbacks",
      before: function () {
        $('.events').append("<li>before event fired.</li>");
      },
      after: function () {
        $('.events').append("<li>after event fired.</li>");
      }
    });
  });
</script>

<div id="top" class="callbacks_container">
  <ul class="rslides" id="slider4">
    <li>
      <img src="images/slide.jpg" alt="">

      <div class="caption text-center">
        <div class="slide-text-info">
          <h1>Introducing <span>Umbrella.</span></h1>

          <h2>Made to modify and use anywhere</h2>

          <div class="slide-text">
            <ul>
              <li><span> </span>Sed ut perspiciatis unde omnis</li>
              <li><span> </span>Iste natus error sit voluptatem accusantium</li>
              <li><span> </span>doloremque laudantium</li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </li>
    <li>
      <img src="images/slide.jpg" alt="">

      <div class="caption text-center">
        <div class="slide-text-info">
          <h1>Introducing <span>Amazing app.</span></h1>

          <h2>Made to modify and use anywhere</h2>

          <div class="slide-text">
            <ul>
              <li><span> </span>Sed ut perspiciatis unde omnis</li>
              <li><span> </span>Iste natus error sit voluptatem accusantium</li>
              <li><span> </span>doloremque laudantium</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="images/slide.jpg" alt="">

      <div class="caption text-center">
        <div class="slide-text-info">
          <h1>Introducing <span>Best app.</span></h1>

          <h2>Made to modify and use anywhere</h2>

          <div class="slide-text">
            <ul>
              <li><span> </span>Sed ut perspiciatis unde omnis</li>
              <li><span> </span>Iste natus error sit voluptatem accusantium</li>
              <li><span> </span>doloremque laudantium</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <img src="images/slide.jpg" alt="">

      <div class="caption text-center">
        <div class="slide-text-info">
          <h1>Introducing <span>Amazing app.</span></h1>

          <h2>Made to modify and use anywhere</h2>

          <div class="slide-text">
            <ul>
              <li><span> </span>Sed ut perspiciatis unde omnis</li>
              <li><span> </span>Iste natus error sit voluptatem accusantium</li>
              <li><span> </span>doloremque laudantium</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="clearfix"></div>

<div class="divice-demo">
  <img src="images/divice-in-hand.png" title="demo"/>
</div>
